body {
    font-family: sans-serif;
}

img,header{
text-align:center;
}

p,header{
text-align:left;
}

header{
background-color:yellow;
}

p footer{
background-color: yellow;
}

footer{
color: aqua;
background-color:yellow;
}
